body {
    margin: 0;
    line-height: normal;
}

.frame {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2c2c2c;
    width: 1728px;
    height: 50px;
}
.artbitstudio-all {
    position: absolute;
    top: 15px;
    left: calc(50% - 556px);
    opacity: 0.5;
}
.faq {
    position: absolute;
    top: 14px;
    left: 1264px;
}
.policy-legal {
    position: absolute;
    top: 15px;
    left: 1102px;
}
.facebook-icon {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 20px;
    height: 20px;
}
.instagram-icon {
    position: absolute;
    top: 0px;
    left: 91px;
    width: 24px;
    height: 24px;
}
.twitter-icon {
    position: absolute;
    top: 2px;
    left: 46px;
    width: 20px;
    height: 20px;
}
.social-media {
    position: absolute;
    top: 12px;
    left: 1463px;
    width: 115px;
    height: 24px;
}
.about-us1 {
    position: absolute;
    top: 0%;
    left: 0%;
}
.about-us {
    position: absolute;
    top: 14px;
    left: 1351px;
    width: 66px;
    height: 19px;
}
.footer {
    position: absolute;
    top: 1067px;
    left: 15px;
    width: 1728px;
    height: 50px;
    color: #ffa500;
}
.title-bar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffa500;
    width: 1728px;
    height: 150px;
}
.main-shop {
    position: absolute;
    top: 36px;
    left: 584px;
    line-height: 60px;
}
.home-our-shop {
    position: absolute;
    top: 100px;
    left: 775px;
    font-size: 16px;
    font-family: Roboto;
    color: #0f1db9;
}
.title-bar {
    position: absolute;
    top: 161px;
    left: 0px;
    width: 1728px;
    height: 150px;
    font-size: 40px;
    font-family: 'Press Start 2P';
}
.product {
    position: absolute;
    top: 332px;
    left: 179px;
    font-size: 20px;
}
.price {
    position: absolute;
    top: 332px;
    left: 605px;
    font-size: 20px;
}
.quantity {
    position: absolute;
    top: 332px;
    left: 774px;
    font-size: 20px;
}
.total {
    position: absolute;
    top: 332px;
    left: 991px;
    font-size: 20px;
}
.frame-child {
    position: absolute;
    top: 57.5px;
    left: 27.5px;
    border-top: 1px solid #828282;
    box-sizing: border-box;
    width: 279px;
    height: 1px;
}
.frame-item {
    position: absolute;
    top: 126.5px;
    left: 26.5px;
    border-top: 1px solid #828282;
    box-sizing: border-box;
    width: 279px;
    height: 1px;
}
.button {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background-color: #32cd32;
    width: 275px;
    height: 50px;
}
.proceed-to-checkout {
    position: absolute;
    top: 15px;
    left: 23px;
    font-weight: 600;
}
.purchase-buttons {
    position: absolute;
    top: 196px;
    left: 28px;
    width: 275px;
    height: 50px;
    font-size: 16px;
    font-family: Orbitron;
}
.subtotals {
    position: absolute;
    top: 28px;
    left: 28px;
}
.div {
    position: absolute;
    top: 28px;
    left: 230px;
    text-align: right;
}
.div1 {
    position: absolute;
    top: 98px;
    left: 230px;
    text-align: right;
}
.taxes-calculated-at {
    position: absolute;
    top: 147px;
    left: 28px;
    font-size: 14px;
    color: #828282;
    text-align: left;
}
.totals {
    position: absolute;
    top: 98px;
    left: 28px;
}
.cart-total {
    position: absolute;
    top: -36px;
    left: 108px;
}
.line-parent {
    position: absolute;
    top: 500px;
    left: 1247px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #f5f5f5;
    width: 331px;
    height: 276px;
    font-size: 20px;
}
.button1 {
    position: absolute;
    top: 0px;
    left: 42px;
    border-radius: 25px;
    background-color: #32cd32;
    width: 191px;
    height: 50px;
}
.update-cart {
    position: absolute;
    top: 15px;
    left: 70px;
    font-weight: 600;
}
.purchase-buttons1 {
    position: absolute;
    top: 992px;
    left: 110px;
    width: 275px;
    height: 50px;
    font-family: Orbitron;
}
.button2 {
    position: absolute;
    top: 0px;
    left: 41px;
    border-radius: 25px;
    background-color: #32cd32;
    width: 193px;
    height: 50px;
}
.clear-cart {
    position: absolute;
    top: 15px;
    left: 76px;
    font-weight: 600;
}
.purchase-buttons2 {
    position: absolute;
    top: 993px;
    left: 841px;
    width: 275px;
    height: 50px;
    font-family: Orbitron;
}
.lorem-ipsum-dolor {
    position: absolute;
    top: 31px;
    left: 163px;
}
.dsfsdff {
    position: absolute;
    top: 83px;
    left: 163px;
    line-height: 21px;
    color: #828282;
}
.sed-consectetur {
    position: absolute;
    top: 56px;
    left: 163px;
    line-height: 21px;
    color: #828282;
}
.div2 {
    position: absolute;
    top: 54px;
    left: 438px;
    font-size: 20px;
    text-align: center;
}
.div3 {
    position: absolute;
    top: 54px;
    left: 835px;
    font-size: 20px;
    text-align: center;
}
.img-placeholder-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.img-placeholder {
    position: absolute;
    top: calc(50% - 49.5px);
    left: 18px;
    width: 100px;
    height: 100px;
    background-image: url('Img Placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.div4 {
    position: absolute;
    top: 52px;
    left: 667px;
    font-size: 20px;
    text-align: center;
}
.shopping-cart {
    position: absolute;
    top: 366px;
    left: 149px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 925px;
    height: 135px;
    overflow: hidden;
    text-align: left;
}
.shopping-cart1 {
    position: absolute;
    top: 522px;
    left: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 925px;
    height: 135px;
    overflow: hidden;
    text-align: left;
}
.shopping-cart2 {
    position: absolute;
    top: 678px;
    left: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 925px;
    height: 135px;
    overflow: hidden;
    text-align: left;
}
.shopping-cart3 {
    position: absolute;
    top: 834px;
    left: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 925px;
    height: 135px;
    overflow: hidden;
    text-align: left;
}
.our-shop1 {
    position: absolute;
    top: 0%;
    left: 0%;
    cursor: pointer;
}
.our-shop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 110px;
    height: 23px;
}
.hire-an-artist {
    position: absolute;
    top: 0px;
    left: 160px;
    width: 165px;
    height: 23px;
}
.collaborations {
    position: absolute;
    top: 0px;
    left: 375px;
    width: 195px;
    height: 23px;
}
.main-buttons {
    position: absolute;
    top: 49px;
    left: 346px;
    width: 570px;
    height: 23px;
}
.frame1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border: 2px solid #e7e6ef;
    box-sizing: border-box;
}
.frame-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #2c2c2c;
}
.frame2 {
    position: absolute;
    height: 100%;
    width: 10.2%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 89.8%;
}
.search-button-icon {
    position: absolute;
    height: 60%;
    width: 4.8%;
    top: 20%;
    right: 2.6%;
    bottom: 20%;
    left: 92.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.search-bar {
    position: absolute;
    top: 40px;
    left: 962px;
    width: 500px;
    height: 40px;
}
.rt {
    font-size: 64px;
}
.artbitstudio {
    position: absolute;
    top: 0px;
    left: 0px;
}
.logo {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 262px;
    height: 138px;
    text-align: left;
    font-size: 96px;
    font-family: Teko;
}
.header1 {
    position: absolute;
    height: 77.53%;
    width: 86.69%;
    top: 22.47%;
    right: 5.79%;
    bottom: 0%;
    left: 7.52%;
}
.frame3 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0f1db9;
    width: 1728px;
    height: 50px;
}
.artbitstudiogmailcom {
    position: absolute;
    top: 0px;
    left: 22px;
}
.email-icon {
    position: absolute;
    height: 84.21%;
    width: 7.92%;
    top: 10.53%;
    right: 92.08%;
    bottom: 5.26%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.contact-mail {
    position: absolute;
    top: 16px;
    left: 128px;
    width: 202px;
    height: 19px;
}
.phone-icon {
    position: absolute;
    height: 84.21%;
    width: 12.6%;
    top: 5.26%;
    right: 87.4%;
    bottom: 10.53%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.contact-number {
    position: absolute;
    top: 16px;
    left: 458px;
    width: 127px;
    height: 19px;
}
.contact-us {
    position: absolute;
    top: 16px;
    left: 1260px;
    width: 79px;
    height: 19px;
}
.login {
    position: absolute;
    top: 0%;
    left: 33.87%;
}
.user-icon {
    position: absolute;
    height: 84.21%;
    width: 25.81%;
    top: 5.26%;
    right: 74.19%;
    bottom: 10.53%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.user-login {
    position: absolute;
    top: 16px;
    left: 1394px;
    width: 62px;
    height: 19px;
}
.shopping-cart4 {
    position: absolute;
    top: 0%;
    left: 25.32%;
}
.wish-icon {
    position: absolute;
    height: 84.21%;
    width: 20.25%;
    top: 5.26%;
    right: 79.75%;
    bottom: 10.53%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.wishlist {
    position: absolute;
    top: 16px;
    left: 1520px;
    width: 79px;
    height: 19px;
}
.facebook-icon1 {
    position: absolute;
    top: 15px;
    left: 1106px;
    width: 20px;
    height: 20px;
}
.twitter-icon1 {
    position: absolute;
    top: 15px;
    left: 1145px;
    width: 20px;
    height: 20px;
}
.instagram-icon1 {
    position: absolute;
    top: 13px;
    left: 1182px;
    width: 24px;
    height: 24px;
}
.top-header {
    position: absolute;
    height: 28.09%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 71.91%;
    left: 0%;
    font-size: 16px;
    color: #f5f5f5;
    font-family: Roboto;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1728px;
    height: 178px;
    font-size: 18px;
    font-family: Orbitron;
}
.shooping-cart {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1117px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}

