body {
    margin: 0;
    line-height: normal;
}

.frame {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #2c2c2c;
    width: 1728px;
    height: 50px;
}
.artbitstudio-all {
    position: absolute;
    top: 15px;
    left: calc(50% - 556px);
    opacity: 0.5;
}
.faq {
    position: absolute;
    top: 14px;
    left: 1264px;
}
.policy-legal {
    position: absolute;
    top: 15px;
    left: 1102px;
}
.facebook-icon {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 20px;
    height: 20px;
}
.instagram-icon {
    position: absolute;
    top: 0px;
    left: 91px;
    width: 24px;
    height: 24px;
}
.twitter-icon {
    position: absolute;
    top: 2px;
    left: 46px;
    width: 20px;
    height: 20px;
}
.social-media {
    position: absolute;
    top: 12px;
    left: 1463px;
    width: 115px;
    height: 24px;
}
.about-us1 {
    position: absolute;
    top: 0%;
    left: 0%;
}
.about-us {
    position: absolute;
    top: 14px;
    left: 1351px;
    width: 66px;
    height: 19px;
}
.footer {
    position: absolute;
    top: 1884px;
    left: 0px;
    width: 1728px;
    height: 50px;
    text-align: center;
    color: #ffa500;
}
.title-bar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffa500;
    width: 1728px;
    height: 150px;
}
.main-shop {
    position: absolute;
    top: 36px;
    left: 564px;
    line-height: 60px;
}
.home-our-shop {
    position: absolute;
    top: 100px;
    left: 696px;
    font-size: 16px;
    font-family: Roboto;
    color: #0f1db9;
}
.title-bar {
    position: absolute;
    top: 161px;
    left: 0px;
    width: 1728px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Press Start 2P';
}
.collab-0-icon {
    position: absolute;
    height: 23.29%;
    top: 20.66%;
    right: 100px;
    bottom: 56.05%;
    max-height: 100%;
    width: 629px;
    object-fit: cover;
}
.suspendisse-rhoncus-nisi {
    position: absolute;
    height: 3.66%;
    width: 50.35%;
    top: 20.66%;
    left: 5.79%;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Press Start 2P';
    color: #ff69b4;
    text-align: left;
    display: flex;
    align-items: center;
}
.lorem-ipsum-dolor {
    margin: 0;
}
.lorem-ipsum-dolor-container1 {
    width: 100%;
}
.lorem-ipsum-dolor-container {
    position: absolute;
    height: 10.86%;
    width: 50%;
    top: 28.83%;
    left: 5.79%;
    line-height: 21px;
    display: flex;
    align-items: center;
}
.lorem-ipsum-dolor-container2 {
    position: absolute;
    height: 9.79%;
    width: 62.27%;
    top: 68.85%;
    left: 31.6%;
    line-height: 21px;
    display: flex;
    align-items: center;
}
.lorem-ipsum-dolor-container4 {
    position: absolute;
    height: 9.79%;
    width: 62.27%;
    top: 47.61%;
    left: 31.6%;
    line-height: 21px;
    display: flex;
    align-items: center;
}
.lorem-ipsum-dolor3 {
    position: absolute;
    height: 9.79%;
    width: 62.27%;
    top: 58.47%;
    left: 31.6%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.gcccrbkwwaaervt-icon {
    position: absolute;
    top: 885px;
    left: 100px;
    width: 402px;
    height: 301px;
    object-fit: cover;
}
.gkufgbtwgaakwl6-icon {
    position: absolute;
    top: 1587px;
    left: 569px;
    width: 230px;
    height: 246px;
    object-fit: cover;
}
.glcoxgnxmaay-jd-icon {
    position: absolute;
    top: 1587px;
    left: 100px;
    width: 353px;
    height: 244px;
    object-fit: cover;
}
.glrlzbjxoae7jhb-icon {
    position: absolute;
    top: 1219px;
    left: 100px;
    width: 402px;
    height: 317px;
    object-fit: cover;
}
.gujj8ycxiaaoris-icon {
    position: absolute;
    top: 1589px;
    left: 915px;
    width: 258px;
    height: 244px;
    object-fit: cover;
}
.guxl9l1w4aah9pg-icon {
    position: absolute;
    top: 1588px;
    left: 1285px;
    width: 343px;
    height: 245px;
    object-fit: cover;
}
.our-shop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 110px;
    height: 23px;
}
.hire-an-artist {
    position: absolute;
    top: 0px;
    left: 160px;
    width: 165px;
    height: 23px;
}
.collaborations {
    position: absolute;
    top: 0px;
    left: 375px;
    width: 195px;
    height: 23px;
}
.main-buttons {
    position: absolute;
    top: 49px;
    left: 346px;
    width: 570px;
    height: 23px;
}
.frame1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border: 2px solid #e7e6ef;
    box-sizing: border-box;
}
.frame-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #2c2c2c;
}
.frame2 {
    position: absolute;
    height: 100%;
    width: 10.2%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 89.8%;
}
.search-button-icon {
    position: absolute;
    height: 60%;
    width: 4.8%;
    top: 20%;
    right: 2.6%;
    bottom: 20%;
    left: 92.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.search-bar {
    position: absolute;
    top: 40px;
    left: 962px;
    width: 500px;
    height: 40px;
}
.rt {
    font-size: 64px;
}
.artbitstudio {
    position: absolute;
    top: 0px;
    left: 0px;
}
.logo {
    position: absolute;
    top: -2px;
    left: 0px;
    width: 262px;
    height: 138px;
    text-align: left;
    font-size: 96px;
    font-family: Teko;
}
.header1 {
    position: absolute;
    height: 77.53%;
    width: 86.69%;
    top: 22.47%;
    right: 5.79%;
    bottom: 0%;
    left: 7.52%;
}
.frame3 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0f1db9;
    width: 1728px;
    height: 50px;
}
.artbitstudiogmailcom {
    position: absolute;
    top: 0px;
    left: 22px;
}
.email-icon {
    position: absolute;
    height: 84.21%;
    width: 7.92%;
    top: 10.53%;
    right: 92.08%;
    bottom: 5.26%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.contact-mail {
    position: absolute;
    top: 16px;
    left: 128px;
    width: 202px;
    height: 19px;
}
.phone-icon {
    position: absolute;
    height: 84.21%;
    width: 12.6%;
    top: 5.26%;
    right: 87.4%;
    bottom: 10.53%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.contact-number {
    position: absolute;
    top: 16px;
    left: 458px;
    width: 127px;
    height: 19px;
}
.contact-us {
    position: absolute;
    top: 16px;
    left: 1260px;
    width: 79px;
    height: 19px;
}
.login {
    position: absolute;
    top: 0%;
    left: 33.87%;
}
.user-icon {
    position: absolute;
    height: 84.21%;
    width: 25.81%;
    top: 5.26%;
    right: 74.19%;
    bottom: 10.53%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.user-login {
    position: absolute;
    top: 16px;
    left: 1394px;
    width: 62px;
    height: 19px;
}
.shopping-cart {
    position: absolute;
    top: 0%;
    left: 25.32%;
    cursor: pointer;
}
.wish-icon {
    position: absolute;
    height: 84.21%;
    width: 20.25%;
    top: 5.26%;
    right: 79.75%;
    bottom: 10.53%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.wishlist {
    position: absolute;
    top: 16px;
    left: 1520px;
    width: 79px;
    height: 19px;
}
.facebook-icon1 {
    position: absolute;
    top: 15px;
    left: 1106px;
    width: 20px;
    height: 20px;
}
.twitter-icon1 {
    position: absolute;
    top: 15px;
    left: 1145px;
    width: 20px;
    height: 20px;
}
.instagram-icon1 {
    position: absolute;
    top: 13px;
    left: 1182px;
    width: 24px;
    height: 24px;
}
.top-header {
    position: absolute;
    height: 28.09%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 71.91%;
    left: 0%;
    font-size: 16px;
    color: #f5f5f5;
    font-family: Roboto;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1728px;
    height: 178px;
    text-align: center;
    font-size: 18px;
    font-family: Orbitron;
}
.previous-works {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1934px;
    overflow: hidden;
    text-align: justify;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}

